
<div id="general">
  <div class="none"></div>
  <div class="nom"></div>
</div>

<!-- <h1>About me </h1> -->

<!-- //////////////// -->


<div class="section1">
  <div class="face">
    
  </div>
</div>
<div class="section2">
  <h1 class="text">Hello,</h1>
  <h3 class="text" style="margin-top:-110px ; ">a bit about me</h3>
  <div class="wrapper x" (click)="myFunction()" style="left: 0%;" [class.wrapperopen]="showElement">
    <div class="content" [class.contentopen]="showElement">
      <div class="img"></div>
      <div class="text">
        <div class="line title"></div>
        <div class="line subtitle"></div>
      </div>
    </div>
  </div>
  <div class="wrapper y" (click)="myFunction2()" style=" left: 25%;" [class.wrapperopen]="showElement2">
    <div class="content" >
      <div class="img"></div>
      <div class="text">
        <div class="line title"></div>
        <div class="line subtitle"></div>
      </div>
    </div>
  </div>
  <div class="wrapper z" (click)="myFunction3()" style=" left: 50%;" [class.wrapperopen]="showElement3">
    <div class="content" >
      <div class="img"></div>
      <div class="text">
        <div class="line title"></div>
        <div class="line subtitle"></div>
      </div>
    </div>
  </div>
</div>