
<!-- <h1>About me </h1> -->

<!-- //////////////// -->


<div class="section1">
  <div class="face">

  </div>
</div>


<div class="sectionX">
    <div class="sectionXtitle">
      <h1 class="titleh12">Hello,</h1>
      <h3 class="titleh12">a bit about me</h3>
    </div>
    <div class="face2"></div>
  </div>


<div class="section3">
  <h1 class="titleh1">Hello,</h1>
  <h3 class="titleh1">a bit about me</h3>
  <div class="section2">

    <div class="wrapper x" (click)="myFunction()" [class.wrapperopen]="showElement">
      <div class="content" [class.contentopen]="showElement">
        <div class="img" style="  background-color: rgb(214, 206, 85) ; z-index: 300 ;">
          content
        </div>
        <div class="text">
          <div class="line title"></div>
          <div class="line subtitle"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="section2">
    <div class="wrapper y" (click)="myFunction2()" [class.wrapperope]="showElement2">
      <div class="content">
        <div class="img" style="background-color: rgb(60, 60, 190) ;z-index: 200 ;">
          content
        </div>
        <div class="text">
          <div class="line title"></div>
          <div class="line subtitle"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="section2">
    <div class="wrapper z" (click)="myFunction3()" [class.wrapperop]="showElement3">
      <div class="content">
        <div class="img" style="  background-color: rgb(206, 100, 67) ;z-index: 100 ;">
          content
        </div>
        <div class="text">
          <div class="line title"></div>
          <div class="line subtitle"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="text1">
  <h1 style="text-align: center ; margin-top: 0px">Текст</h1>
  <P>В смысловой цельности текста отражаются те связи и зависимости, которые имеются в самой действительности (общественные
    события, явления природы, человек )
    <br> Единство предмета речи — это тема высказывания. Тема — это смысловое ядро текста, конденсированное и обобщённое
    содержание текста.
    <br> Понятие «содержание высказывания» связано с категорией информативности речи и присуще только тексту. Оно сообщает
    читателю индивидуальн
    <br> о-авторское понимание отношений между явлениями, их значимости во всех сферах придают ему смысловую цельность. В
    большом тексте ведущая тема распадается на ряд составляющих подтем; подтемы членятся на более дробные, на абзацы (микротемы).
    <br> Завершённость высказывания связана со смысловой цельностью текста. Показателем законченности текста является возможность
    подобрать к нему заголовок, отр
    <br> Таким образом, из смысловой цельности текста вытекают следующие признаки текста:
    <br> Текст — это высказывание на определённую тему;
    <br> В тексте реализуется замысел говорящего, основная мысль;
    <br> Текст любого размера — это относительно автономное (законченное) высказывание;
    <br> Предложения логически связаны между собой;
    <br> К тексту можно подобрать заголовок;
    <br> Правильно оформленный текст обычно имеет начало и конец.</P>
  <br>
</div>
<div class="gContent" [class.noneGc]="gelery">
  <div class="cross">
    <img src="/images/cross.png" (click)="myGelery()">
  </div>
  <div class="photo">
    <div class="carousel-container">
      <div class="carousel my-carousel carousel--translate">
        <input class="carousel__activator" type="radio" name="carousel" id="F" checked="checked" />
        <input class="carousel__activator" type="radio" name="carousel" id="G" />
        <input class="carousel__activator" type="radio" name="carousel" id="H" />
        <input class="carousel__activator" type="radio" name="carousel" id="I" />
        <input class="carousel__activator" type="radio" name="carousel" id="J" />
        <div class="carousel__controls">
          <label class="carousel__control carousel__control--backward" for="J"></label>
          <label class="carousel__control carousel__control--forward" for="G"></label>
        </div>
        <div class="carousel__controls">
          <label class="carousel__control carousel__control--backward" for="F"></label>
          <label class="carousel__control carousel__control--forward" for="H"></label>
        </div>
        <div class="carousel__controls">
          <label class="carousel__control carousel__control--backward" for="G"></label>
          <label class="carousel__control carousel__control--forward" for="I"></label>
        </div>
        <div class="carousel__controls">
          <label class="carousel__control carousel__control--backward" for="H"></label>
          <label class="carousel__control carousel__control--forward" for="J"></label>
        </div>
        <div class="carousel__controls">
          <label class="carousel__control carousel__control--backward" for="I"></label>
          <label class="carousel__control carousel__control--forward" for="F"></label>
        </div>
        <div class="carousel__track">
          <li class="carousel__slide">
            <h1></h1>
          </li>
          <li class="carousel__slide" >
            <h1></h1>
          </li>
          <li class="carousel__slide">
            <h1></h1>
          </li>
          <li class="carousel__slide">
            <h1></h1>
          </li>
          <li class="carousel__slide">
            <h1></h1>
          </li>
        </div>
        <div class="carousel__indicators">
          <label class="carousel__indicator" for="F"></label>
          <label class="carousel__indicator" for="G"></label>
          <label class="carousel__indicator" for="H"></label>
          <label class="carousel__indicator" for="I"></label>
          <label class="carousel__indicator" for="J"></label>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="gelery" (click)="myGelery()" [class.noneGelery]="gelery">
  <img src="/images/gelery.png">
</div>