*{
  text-decoration: none ;
  font-family:  'Arial Narrow', Arial, sans-serif
}
#general{
  background-color: rgba(0, 0, 0, 0.788) ;
  width: 100% ;
  height: 100% ;
  position: absolute;
  margin-top: -50px ;
  text-align: center ;
  display: none;
  text-decoration: none ;
}

.nom{
  width: 50%;
  height: 50%;
  background-color: #fff ;
  top : 25%;
  left: 25% ;
  position: relative ;
}

.none{
  background-color: #fff;
  width: 50px;
  height: 50px ;
  border-radius: 50% ;
  position: absolute;
  top: 20px;
  right: 30px;
}









.section1{
  width: 450px;
  height: 500px;
  /* background-color: rgba(0, 0, 255, 0.329) ; */
  float: left;
  overflow: hidden;

}
.section2{
  font-size: 250% ;
  margin: 0 ;
  padding: 0 ;
  width: 180px;
  height: 100px;
  /* background-color: rgba(0, 255, 255, 0.281) ; */
  float: left;
  position: relative;
  color: #fff ;

}

.section3{
  float: left;
  height: 500px;
}

.face{
  height: 400px;
  width: 400px;
  border-radius: 50%;
  background-color: green ;
  margin: 10% ;
  margin-left: 5% ;
  background-image: url("images/wd.png");
  background-size: cover;
  background-position: center;
}
.gelery{
  background-color: rgb(10, 90, 50) ;
  height: 61px;
  width: 61px;
  border-radius: 50% ;
  position: fixed ;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  transition: transform 500ms,width 500ms ,height 500ms ;
}
.gelery img{
  width: 35px;
  height: 35px;
  margin-top: 20.5% ;
  margin-left: 20.5% ;
  z-index: 1001;
  transition: transform 500ms,width 500ms ,height 500ms ;
}
.noneGelery{
  height: 100px;
  width: 100px;
  transition: transform 500ms,width 500ms ,height 500ms ;

}
.noneGelery img {
  height: 57.4px;
  width:  57.4px;
  transition: transform 500ms,width 500ms ,height 500ms opacity 300ms ;
}
.gContent{
  position: fixed ;
  height: 1%;
  width: 1%;
  background-color: rgba(4, 4, 8, 0.945) ;
  bottom: 35px;
  right: 35px;
  z-index: 100;
  transition: transform 300ms,width 300ms ,height 300ms ;
  overflow: hidden;

}
.noneGc{
  width: 95%;
  height: 89%;
  right: 2.5%;
  bottom: 5%;
  transition: transform 500ms,width 500ms ,height 500ms ;
  padding: 0 ;
  margin: 0 ;
}
.cross img{
  width: 30px;
  height: 30px;
  margin: 20px;
}



.photo{
  width: 70%;
  height: 70%;
  margin-top: 1% ;
  margin-left: 15% ;
  /* background-color: rgb(238, 221, 123) ; */
}

.carousel {
  height: 100%;
  width: 100%;
  overflow: hidden;
  text-align: center;
  position: relative;
  padding: 0;
  list-style: none;

}

.carousel__controls,
.carousel__activator {
  display: none;
}
.carousel__activator:nth-of-type(1):checked ~ .carousel__track {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
.carousel__activator:nth-of-type(1):checked ~ .carousel__slide:nth-of-type(1) {
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
  transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.carousel__activator:nth-of-type(1):checked ~ .carousel__controls:nth-of-type(1) {
  display: block;
  opacity: 1;
}
.carousel__activator:nth-of-type(1):checked ~ .carousel__indicators .carousel__indicator:nth-of-type(1) {
  opacity: 1;
}
.carousel__activator:nth-of-type(2):checked ~ .carousel__track {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.carousel__activator:nth-of-type(2):checked ~ .carousel__slide:nth-of-type(2) {
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
  transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.carousel__activator:nth-of-type(2):checked ~ .carousel__controls:nth-of-type(2) {
  display: block;
  opacity: 1;
}
.carousel__activator:nth-of-type(2):checked ~ .carousel__indicators .carousel__indicator:nth-of-type(2) {
  opacity: 1;
}
.carousel__activator:nth-of-type(3):checked ~ .carousel__track {
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
}
.carousel__activator:nth-of-type(3):checked ~ .carousel__slide:nth-of-type(3) {
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
  transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.carousel__activator:nth-of-type(3):checked ~ .carousel__controls:nth-of-type(3) {
  display: block;
  opacity: 1;
}
.carousel__activator:nth-of-type(3):checked ~ .carousel__indicators .carousel__indicator:nth-of-type(3) {
  opacity: 1;
}
.carousel__activator:nth-of-type(4):checked ~ .carousel__track {
  -webkit-transform: translateX(-300%);
          transform: translateX(-300%);
}
.carousel__activator:nth-of-type(4):checked ~ .carousel__slide:nth-of-type(4) {
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
  transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.carousel__activator:nth-of-type(4):checked ~ .carousel__controls:nth-of-type(4) {
  display: block;
  opacity: 1;
}
.carousel__activator:nth-of-type(4):checked ~ .carousel__indicators .carousel__indicator:nth-of-type(4) {
  opacity: 1;
}
.carousel__activator:nth-of-type(5):checked ~ .carousel__track {
  -webkit-transform: translateX(-400%);
          transform: translateX(-400%);
}
.carousel__activator:nth-of-type(5):checked ~ .carousel__slide:nth-of-type(5) {
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
  transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.carousel__activator:nth-of-type(5):checked ~ .carousel__controls:nth-of-type(5) {
  display: block;
  opacity: 1;
}
.carousel__activator:nth-of-type(5):checked ~ .carousel__indicators .carousel__indicator:nth-of-type(5) {
  opacity: 1;
}
.carousel__control {
  height: 30px;
  width: 30px;
  /* margin-top: -15px; */
  top: 50%;
  margin-right: 10px ;
  margin-left: 10px ;
  position: absolute;
  display: block;
  cursor: pointer;
  border-width: 5px 5px 0 0;
  border-style: solid;
  border-color: #fafafa;
  opacity: 0.5;
  outline: 0;
  z-index: 3;
}
.carousel__control:hover {
  opacity: 1;
}
.carousel__control--backward {
  left: 10px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}
.carousel__control--forward {
  right: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.carousel__indicators {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}
.carousel__indicator {
  height: 15px;
  width: 15px;
  border-radius: 100%;
  display: inline-block;
  z-index: 2;
  cursor: pointer;
  opacity: 0.35;
  margin: 0 2.5px 0 2.5px;
}
.carousel__indicator:hover {
  opacity: 0.75;
}
.carousel__track {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  margin: 0;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}
.carousel__track .carousel__slide {
  display: block;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
}
.carousel__track .carousel__slide:nth-of-type(1) {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
.carousel__track .carousel__slide:nth-of-type(2) {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.carousel__track .carousel__slide:nth-of-type(3) {
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
}
.carousel__track .carousel__slide:nth-of-type(4) {
  -webkit-transform: translateX(300%);
          transform: translateX(300%);
}
.carousel__track .carousel__slide:nth-of-type(5) {
  -webkit-transform: translateX(400%);
          transform: translateX(400%);
}
.carousel--scale .carousel__slide {
  -webkit-transform: scale(0);
          transform: scale(0);
}
.carousel__slide {
  height: 100%;
  position: absolute;
  overflow-y: auto;
  opacity: 0;
}

.carousel-container {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.my-carousel {
  border-radius: 5px;
  margin: 0px;
}
.carousel__slide {
  overflow: hidden;
}
.carousel--thumb .carousel__indicator {
  height: 30px;
  width: 30px;
}


.carousel__indicator {
  background-color: #fafafa;
}
.carousel__slide:nth-of-type(1),
.carousel--thumb .carousel__indicators .carousel__indicator:nth-of-type(1) {
  background-image: url("https://unsplash.it/300?random");
  background-size: cover;
  background-position: center;
}
.carousel__slide:nth-of-type(2),
.carousel--thumb .carousel__indicators .carousel__indicator:nth-of-type(2) {
  background-image: url("https://unsplash.it/600?random");
  background-size: cover;
  background-position: center;
}
.carousel__slide:nth-of-type(3),
.carousel--thumb .carousel__indicators .carousel__indicator:nth-of-type(3) {
  background-image: url("https://unsplash.it/900?random");
  background-size: cover;
  background-position: center;
}
.carousel__slide:nth-of-type(4),
.carousel--thumb .carousel__indicators .carousel__indicator:nth-of-type(4) {
  background-image: url("https://unsplash.it/1200?random");
  background-size: cover;
  background-position: center;
}
.carousel__slide:nth-of-type(5),
.carousel--thumb .carousel__indicators .carousel__indicator:nth-of-type(5) {
  background-image: url("https://unsplash.it/1500?random");
  background-size: cover;
  background-position: center;
}



















































.wrapper {
  /* margin-top: 30px; */
  /* margin-left: 20px ; */
  cursor: pointer;
  position: absolute;
  /* left: 40%; */
  top: 42%;
  width: 150px;
  height: 150px;
  overflow: hidden;
  /* transform: translate(-50%, -50%); */
  transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
  border: rgba(255, 255, 255, 0) ;
  border-radius: 50% ;
  transition: transform 175ms, width 175ms , height 175ms  ,border-radius 175ms;
  /* border-radius: 50% ; */
  background-color: rgba(235, 97, 33, 0.822);
}
.wrapperopen {
  transform: translate(10%, -0%);
  position: absolute ;
  width: 500px;
  height: 400px;
  border-radius: 3px ;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.438);
  transition: transform 375ms, width 375ms, height 275ms 100ms ,border-radius 375ms  ;
  z-index: 10000;
}
.wrapperope {
  transform: translate(-35%, 0%);
  position: absolute ;
  width: 500px;
  height: 400px;
  border-radius: 3px ;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.438);
  transition: transform 375ms, width 375ms, height 275ms 100ms ,border-radius 375ms  ;
  z-index: 10000;
}
.wrapperop {
  transform: translate(-80%, 0%);
  position: absolute ;
  width: 500px;
  height: 400px;
  border-radius: 3px ;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.438);
  transition: transform 375ms, width 375ms, height 275ms 100ms ,border-radius 375ms  ;
  z-index: 10000;
}
div.content {
  position: absolute;
  margin: auto;
  left: -9999px;
  right: -9999px;
  transform-origin: top;
  transform: scale(1);
  height: 700px;
  width: 820px;
  border-radius: 3px;
  background: rgb(117, 39, 39);
  overflow: hidden;
  transition: transform 375ms cubic-bezier(0.4, 0.0, 0.2, 1);

}
.contentopen {
  transform: scale(1);
}
.img {
  height: 110px;
  /* background-image: url("images/ray.jpg"); */
  background-size: cover;
  background-position: center;
  text-align: center ;
  padding-top: 50px ;
}

.title {
  width: 80%;
}
.subtitle {
  
  width: 60%;
}
.text1{
  width: 70%;
  padding: 15px ;
  float: left ;
  font-size: 150% ;
  color: #fff ;

}
.titleh1{
  padding: 0;
  margin: 0;
  color: #fff ;
}
h3.titleh1{
  font-size: 200% ;
}
h1.titleh1{
  font-size: 500% ;
  margin-top: 80px;
}
.titleh12{
  padding: 0;
  margin: 0;
  color: #fff ;
}
h3.titleh12{
  font-size: 200% ;
}
h1.titleh12{
  font-size: 500% ;
  margin-top: 80px;
}
.sectionX{
  display: none ;

}














































@media screen and (max-width: 1070px){
  .section1 {
    width: 400px ;
    height: 380px ;
  }
  .face{
    width: 350px;
    height: 350px;
    margin: 5% ;
  }
  h1.titleh1{
    margin-top: 50px ;
  }
}

@media screen and (max-width: 960px){
  .titleh1{
    display: none ;
  }
  .section3{
    padding-left: 6% ;
    height: 180px;
    width: 100% ;

  }
  .wrapper{
    top: 8% ;
  }
  .face{
    width: 300px;
    height: 300px;
    margin: 5% ;
  }
  .section1 {
    width: 330px ;
    height: 330px ;
  }
  .sectionX{
    display: block ;
    margin: 15px;
    float: left;
  }
}

@media screen and (max-width: 722px){
  .wrapper{
    width: 80%;
    background-color: rgba(0,0,0,0) ;
    box-shadow: 0px ; 
    border-radius:20px ;
    margin-left: 10%;
    transition:  transform 20000ms, width 175ms , height 10000ms  ,border-radius 175ms , margin-left 300ms;
  }
  .section2{
    width: 100%;
    height: 150px;
    box-shadow: 0px ; 
    margin-top: 15px ;
  }
  .section3{
    width: 100%;
    padding: 0 ;
    margin: 0 ;
    height: 530px;
  }
  div.content{
    width: 100%;
    box-shadow: 0px ; 
    left: 0px;
    right: 0px;
  }
  .wrapperopen{
    box-shadow: 0 0 0 ;
    width: 90% ;
    transform: translate(0%, 0%);
    margin-left: 5% ;
    transition:  transform 500ms, margin-left 500ms , width 375ms, height 275ms 100ms ,border-radius 375ms  ;
  }
  .wrapperope{
    box-shadow: 0 0 0 ;
    width: 90% ;
    transform: translate(0%, 0%);
  }
  .wrapperop{
    box-shadow: 0 0 0 ;
    width: 90% ;
    transform: translate(0%, 0%);
  }
  

}
@media screen and (max-width: 600px){

  .nom{
    width: 80% ;
    top : 10%;
    left: 10% ;
  }

  .none{
    top: 15px ;
    right: 20px ;
  }

  .section1{
    display: none ;
  }

}