* {
    box-sizing: border-box;
    color: rgb(10, 90, 50) ;
}

.fakeimg {
    background-color: rgb(170, 170, 170);
    width: 100%;
    padding: 20px;
}

/* Add a card effect for articles */
.card {
     background-color: white;
     padding: 20px;
     margin-top: 20px;
}

