<div id="general">

  <ul class="breadcrumb">
    <li>
      <a href="#">
        <span class="fa fa-facebook"></span>
        <span class="text">acebook</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="fa fa-youtube"></span>
        <span class="text">channel</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="fa fa-twitter"></span>
        <span class="text">twitter</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="fa fa-instagram"></span>
        <span class="text">inst</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="fa fa-google"></span>
      </a>
    </li>
  </ul>
</div>
