
<div id="general">
  <div class="header">
    <h2>Blog</h2>
  </div>
  <div class="row">
    <div class="leftcolumn">

      <!-- NEW POSTS ///////////////////////////////////////// -->






      <app-new-post name="Привіт Іван" imgSrc=""></app-new-post>
      <app-new-post name="Привіт наталя" imgSrc=""></app-new-post>
      <app-new-post name="My first post" imgSrc=""></app-new-post>



      <!-- NEW POSTS //////////////////////////////////////////-->

      <div class="card">
        <h2>TITLE HEADING</h2>
        <h5>Title description, Dec 7, 2017</h5>
        <div class="fakeimg" style="height:200px;">Image</div>
        <p>Some text..</p>
        <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
      </div>
    </div>
    <div class="rightcolumn">
      <div class="card">
        <h2>About Me</h2>
        <div class="fakeimg" style="height:100px;">Image</div>
        <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
      </div>
      <div class="card">
        <h3>Popular Post</h3>
        <div class="fakeimg">Image</div>
        <br>
        <div class="fakeimg">Image</div>
        <br>
        <div class="fakeimg">Image</div>
      </div>
      <div class="card">
        <h3>Follow Me</h3>
        <p>Some text..</p>
      </div>
    </div>
  </div>

  <div class="footer">
    <h2>Footer</h2>
  </div>
</div>