
<div id="content">
  <div class="section" id="fir">
      <ol class="rounded">
          Name
          <li><a href="#">Элемент списка</a></li>
          <li><a href="#">Элемент списка</a></li>
          <li><a href="#">Элемент списка</a></li>
          <li><a href="#">Элемент списка</a></li>
          <!-- <li><a href="#">Элемент списка</a></li> -->
      </ol>
  </div>
  <div class="section" id="sec">
      <h1>Hello<br>world</h1>
      <p>Not so fast</p>
      <a href="#">
          link to my 
      </a>
  </div>
</div>



<div class="menu-button"><i class="fa fa-bars zmdi zmdi-share"></i>
    <a href="#"><i class="fa fa-facebook zmdi zmdi-twitter"></i></a>
    <a href="#"><i class="fa fa-google zmdi zmdi-google-plus"></i></a>
    <a href="#"><i class="fa fa-instagram zmdi zmdi-codepen"></i></a>
</div>



<div class="container">

    <div class="follow">
        <div id="first" class="iconl first">
            <i id="first" class="fa fa-facebook"></i>
        </div>
        <!-- <div class="icon"></div> -->
        <div id="second" class="iconl">
            <i id="second" class="fa fa-google"></i>
        </div>
        <div id="third" class="iconl last">
            <i class="fa fa-instagram"></i>
        </div>
        <div class="label">
            contact
        </div>
    </div>
   
</div>